body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    width: 360px;
    border-radius: 1rem;  /* 1rem=16px */
    background-color: black;
    margin-right: 0.5rem;
    height: 400px
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    height: 100vh;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    height: 96px;
    width: 336px;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    height: 100%;
    width: 336px;
    padding: 0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.4rem;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons{
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;
}

.icons:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 0.75rem 0 1.75rem 0;
    height: 10rem;
}

.box1{
    background-color: #232323;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    margin: 0.75rem 0 1.75rem 0;
    height: 13rem;
}

.box-p1{
    font-size: 1.25rem;
    font-weight: 500;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 2rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.badge:hover{
    cursor: pointer;
}

.dark{
    background-color: black;
    color: white;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons img{
    height: 1rem;
    width: 1rem;
    background-color: black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
}

.sticky-nav-icons {
    margin-left: 1rem;
}
.sticky-nav-icons:hover{
    cursor: pointer;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options:hover{
    cursor: pointer;
}

.nav-item{
    margin-right: 1rem;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.sticky-nav-options .icon{
    background-color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 0.3rem;
}

.player{
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.one{
    height: 15px;
    margin:20px;
    opacity: 0.7;
}

.one:hover{
    opacity: 1;
    cursor: pointer;
}

.play .one_btn{
    height: 2.3rem;
    margin: 10px;
}
.play .one_btn:hover{
    cursor: pointer;
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}
.card-title:hover{
    cursor: pointer;
    text-decoration: underline;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.7;
}

.footer{
    height: 200px;
    display: flex;
    align-items: center;
    align-content: center;
}

.line{
    width: 100%;
    height: 45%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.play1 {
    display: flex;
    align-items: center;
}

.card-img1 {
    max-width: 60px; /* Set the desired width for the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
    margin-top: 10px; /* Add some spacing between image and text */
    border-radius: 1rem;
}

.song-info1 {
    display: inline-block; /* Make the song info inline */
    margin-top: 10px;
    margin-left: 10px;
}

.title{
    font-weight: 600;
}
.title:hover{
    text-decoration: underline;
}

.name{
    opacity: 0.7;
    font-size: small;
}
.name:hover{
    text-decoration: underline;
}

.playback-bar{
    display: flex;
    justify-content: start;
    align-items: center;
}

.progress-bar{
    width: 200px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: white;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    margin-top: -6px;
    opacity: 0;
}

.progress-bar:hover::-webkit-slider-thumb{
    opacity: 1;
}





